@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
  background-color: #1A1A1B;
}

#resolution {
    float: left;
  }

 #timeline {
    opacity: 0;
    transition: opacity 0.5s;
  }
  #timeline:hover {
    opacity: 1;
  }

#videoDetails {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: white;
}

@media (max-width: 767px) {
  /* Styles for mobile devices */
  video {
    width: 100%;
    z-index: 1;
  }
  
  #timeline {
    width: 100%;
  }
}

@media (min-width: 768px) {
  /* Styles for PC */
  video {
    width: 75%;
    z-index: 1;
    position: relative;
  }
  #timeline {
    width: 75%;
  }
}

#playButton {
  /* Style the play button */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;  /* Increase the size of the play button */
  height: 32px;  /* Increase the size of the play button */
  background-image: url("https://cdn.glitch.global/7f3de150-1a8e-4301-b3c8-5f943aa69686/play.png?v=1672190455256");
  background-size: contain;  /* Scale the image to fit within the button */
  background-color: #282424;
  border-radius: 50%;
  z-index: 2;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s;  /* Increase the duration of the transition to 0.5 seconds */
}

#playButton.paused {
  /* Style the play button */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;  /* Increase the size of the play button */
  height: 32px;  /* Increase the size of the play button */
  background-image: url("https://cdn.glitch.global/7f3de150-1a8e-4301-b3c8-5f943aa69686/pause.png?v=1672190454026");
  background-size: contain;  /* Scale the image to fit within the button */
  background-color: #282424;
  border-radius: 50%;
  z-index: 2;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s;  /* Increase the duration of the transition to 0.5 seconds */
}


#videoContainer:hover #playButton {
  /* Fade in the play button when the mouse hovers over the video container */
  opacity: 1;
}